/* EVENT PAGE */
.event-page {
    background-color: #eeeeee;
    padding: 36px;
  }
  
  @media (min-width: 1201px) {
    .eventp-container {
      height: 260px;
    }
  }
  
  @media (min-width: 991px) and (max-width: 1200px) {
    .eventp-container {
      width: 500px;
    }
  }
  
  @media (max-width: 990px) {
    .eventp-container {
      height: 260px;
    }
  }
  
  .eventp-container {
    margin: 0 auto 40px;
    padding: 0 20px;
  }
  
  .eventp {
    height: 100%;
    background-color: white;
    padding-right: 2%;
    border-radius: 20px;
  }
  
  .eventp-image {
    position: relative;
    height: 260px;
    width: 260px;
    border-radius: 20px;
    margin-right: 2%;
    background-position-x: center;
    background-size: cover;
    float: left;
  }
  
  .eventp-date {
    color: white;
    display: inline-block;
  }
  
  .eventp-description-container {
    margin: 5%;
    overflow-wrap: break-word;
  }
  
  .eventp-title {
    font-size: 16px;
    color: black;
    margin: auto;
  }
  
  .eventp-fb,
  .eventp-fb:active {
    padding: 0;
    margin: 0;
    color: #54bead;
    font-size: 16px;
    text-decoration: none;
  }
  
  .eventp-fb:hover,
  .eventp-fb:focus {
    text-decoration: none;
    color: #f27678;
  }
  
  .eventp-time {
    font-size: 14px;
    color: black;
    margin: 2px 5%;
  }
  
  .eventp-description {
    font-size: 14px;
    margin: 16px 0 8px 10px;
    color: #6e6e6e;
    line-height: 1.3;
  }
  
  .eventp-upcoming-container {
    height: 600px;
    padding: 16px 48px;
    margin-bottom: 48px;
    align-content: center;
  }
  
  .eventp-upcoming {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 105%;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    z-index: 10;
  }
  
  .event-photo-upcoming {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-position-x: center;
    background-size: cover;
    border-radius: 30px;
  }
  
  .event-photo-upcoming:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .eventp-upcoming .eventp-title {
    padding: 0 5%;
  }
  
  .eventp-upcoming .eventp-description {
    margin: 2% 5%;
  }
  
  .eventp-border-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -20px -48px;
    padding: 20px 48px;
  }
  
  .eventp-offset-border-upcoming {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 105%;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 30px;
    top: 32px;
    left: 32px;
    z-index: 1;
  }
  
  @media (max-width: 375px) {
    .eventp-upcoming-container {
      height: 580px;
      padding: 16px 36px;
    }
  
    .eventp-border-container {
      margin: -16px -36px;
      padding: 16px 36px;
    }
  }
  