a:hover {
  text-decoration: none;
}
.title {
  margin-top: 76px;
  font-size: 32px;
  color: #0e1a41;
}

.navbar-default.affix .nav > li > a:focus:hover,
.navbar-default.affix .nav > li > a:hover {
  color: #f27678;
}

.navbar-default.affix .navbar-header .navbar-brand:hover {
  color: #f27678;
}

.banner {
  width: 100%;
  height: 100%;
  background-color: rgb(181, 71, 71);
  overflow: auto;
}

.banner-text {
  color: white;
  padding-top: 3px;
  margin-bottom: 0px;
  text-align: center
}

/* make responsive */
.landing {
  margin-top: 15%;
}
.wistem-title {
  font-size: 5em;
}

.landing-description {
  font-size: 1.25em;
  opacity: 0.8;
}

/*make responsive*/

#anouncement {
  background-color: #f9e3b568;
  padding-top: 36px;
  padding-bottom: 36px;
  font-style: italic;
}

.landing-divider {
  width: 700px;
  height: 1px;
  background-color: white;
  margin: 8px auto;
  opacity: 0.3;
}

.description {
  font-size: 14px;
  color: gray;
  font-style: italic;
  margin-left: 5em;
  margin-right: 5em;
}
.values-image {
  max-height: 100px;
  max-width: 100px;
}

.values {
  font-size: 24px;
  color: #4a4a4a;
}

.value-description {
  font-size: 14px;
  color: #4a4a4a;
  opacity: 0.8;
  line-height: 22px;
  margin-bottom: 88px;
  padding: 0 48px;
}
.divider {
  width: 50%;
  margin: 12px auto 56px;
  background-color: #9b9b9b;
  opacity: 0.2;
  height: 1px;
}
.short-divider {
  width: 50%;
  left: margin 10;
  background-color: #9b9b9b;
  opacity: 0.2;
  height: 1px;
}

.white-line {
  background-color: white;
}

header {
  background: none;
  background-image: url(../img/landing-bg.png);
  background-size: cover;
  background-color: #54bead;
}

.navbar-default {
  background-color: #54bead;
}

.events {
  background-color: #f8f8f8;
  padding: 0 36px;
  padding-bottom: 36px;
}

.event-container {
  height: 420px;
  padding: 16px 28px;
  margin-bottom: 35px;
}

.event {
  border-radius: 20px;
  height: 96%;
}

.event-photo {
  display: block;
  margin-left:auto;
  margin-right:auto;
  height: 250px;
}

.event-date,
.event-month {
  color: black;
  opacity: 0.4;
  text-shadow: 2px 2px #9b9b9b;
  font-size: 32px;
  display: inline-block;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 0;
}

.event-date {
  margin-top: 0px;
  font-size: 48px;
}

.event-description {
  height: 115px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 16px;
}

.event-title {
  font-size: 16px;
  color: #4a4a4a;
  height: 34px;
}

.event-time {
  font-size: 14px;
  color: #4a4a4a;
  opacity: 0.8;
}

.facebook-event,
.facebook-event:focus,
.facebook-event:active {
  font-size: 14px;
  color: #54bead;
  text-decoration: none;
}

.facebook-event:hover {
  color: #f27678;
  text-decoration: none;
}

.event-button {
  margin-bottom: 56px;
}

.member-photo {
  height: 280px;
}

.member-description {
  height: 115px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 16px;
}

.member-name {
  font-size: 18px;
  color: #0e1a41;
  height: 15px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #f27678;
  color: white;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 100px;
  text-transform: capitalize;
  border: none;
  margin-bottom: 64px;
}

.btn-primary:hover {
  background-color: #54bead;
  color: white;
  border: none;
}

.lp-outline,
.lp-outline:active,
.lp-outline:focus {
  padding: 10px 33px;
  border-radius: 100px;
  border: 1px solid white;
  color: white;
  margin-right: 24px;
}

.lp-outline:hover {
  text-decoration: none;
  color: #54bead;
  background-color: white;
}

.lp-solid,
.lp-solid:active,
.lp-solid:focus {
  padding: 10px 33px;
  border-radius: 100px;
  border: 1px solid #f27678;
  background-color: #f27678;
  color: white;
}

.lp-solid:hover {
  text-decoration: none;
  border: 1px solid white;
  color: #f27678;
  background-color: white;
}

/* make this responsive*/
.buttons-lp {
  margin-top: 48px;
  margin-bottom: 110px;
}

.partners-lp {
  font-size: 14px;
  margin-top: 86px;
}

.partners-lp-gold img {
  height: 75px;
  margin-bottom: 12px;
}

.partners-lp-silver img {
  height: 35px;
  margin-bottom: 12px;
}

.partners-lp-bronze img {
  height: 30px;
  margin-bottom: 12px;
}

.partners-image {
  margin: 4px auto;
  max-width: 278px;
}

.partnerships {
  padding: 0 36px 56px;
  padding-bottom: 100px;
}
.partnership-image {
  background-image: url('../img/partners-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 578px;
}
.partnership-container {
  padding-top: 1em;
}

.partnership-description {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0 16px;
  line-height: 2.5;
}

.learn-more,
.learn-more:active,
.learn-more:focus {
  color: #5ab8af;
  text-decoration: none;
}

.learn-more:hover {
  color: #f27678;
  text-decoration: none;
}

.subscribe {
  background-size: cover;
  background-color: #54bead;
  background-image: url('../img/bacteria.svg');
  padding-bottom: 5em;
}

.white {
  color: white;
}

.team {
  background-color: rgb(255, 255, 255);
}

.subteam {
  vertical-align: middle;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.subteam-member {
  display: inline-block;
  vertical-align: middle;
}

.positions {
  background-color: #f8f8f8;
  padding-bottom: 5em;
}

.contact {
  background-image: url('../img/robot-bg.svg');
  background-size: cover;
  padding-bottom: 5em;
}

.contact-green {
  background-size: cover;
  background-color: #54bead;
  background-image: url('../img/bacteria.svg');
  padding-bottom: 5em;
}

.fa {
  color: white;
}

.fa:hover {
  color: #54bead;
  /* color: #F27678; */
}

/* APPLICATION PAGE */
.app-page {
  background-color: #f8f8f8;
  padding: 36px;
}

/* MENTORSHIP PAGE*/
.text-important {
  color: #f27678
}

/* EVENT PAGE */
.event-page {
  background-color: #f8f8f8;
  padding: 36px;
}

.eventp {
  height: 208px;
  background-color: white;
  width: 780px;
  margin: 0 auto 24px;
  border-radius: 10px;
}
.eventp-image-container {
  width: 160px;
  height: 160px;
  margin: 24px 0 0 24px;
  display: inline-block;
  float: left;
}

.eventp-image {
  height: 128px;
  border-radius: 10px 10px 0 0;
}

.eventp-date-container {
  height: 32px;
  background-color: #f27678;
  border-radius: 0 0 10px 10px;
}
.eventp-date {
  color: white;
  display: inline-block;
}

.eventp-description-container {
  width: 548px;
  height: 150px;
  margin-left: 24px;
  margin-top: 24px;
  display: inline-block;
  overflow-wrap: break-word;
}

.eventp-title {
  font-size: 24px;
  color: #4a4a4a;
  margin: auto;
}
.eventp-fb,
.eventp-fb:active {
  padding: 0;
  margin: 0;
  color: #54bead;
  font-size: 16px;
  text-decoration: none;
}

.eventp-fb:hover,
.eventp-fb:focus {
  text-decoration: none;
  color: #f27678;
}

.eventp-time {
  font-size: 14px;
  color: #6e6e6e;
  margin: 8px 0;
}

.eventp-description {
  font-size: 14px;
  margin: 16px 0 8px 0;
  color: #6e6e6e;
  line-height: 2;
}

/* all event photos */
/*
#fword, #letstalk, #synbio101, #wisdom, #wise, #defense, #you, #dessert, #beattheheat, #fightlikeagirl, #paintyourpinky, #programworkshop, #springdance, #synbiopanel, #hiphopclass{
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

#fword {
  background-image: url("../img/fword.png");
}

#letstalk {
  background-image: url("../img/letstalk.png");
}

#synbio101 {
  background-image: url("../img/synbio101.png");
}

#wisdom {
  background-image: url("../img/wisdom.png");
}

#wise{
  background-image: url("../img/wise.png");
}

#defense{
  background-image: url("../img/defense.png");
}

#you{
  background-image: url("../img/you.png");
}

#dessert{
  background-image: url("../img/dessert.png");
}

#beattheheat {
  background-image: url("../img/beattheheat.jpg");
}

#fightlikeagirl {
  background-image: url("../img/fightlikeagirl.jpg");
}

#paintyourpinky {
  background-image: url("../img/paintyourpinky.jpg");
}

#programworkshop {
  background-image: url("../img/programworkshop.jpg");
}

#springdance {
  background-image: url("../img/springdance.jpg");
}

#synbiopanel {
  background-image: url("../img/synbiopanel.jpg");
}

#hiphopclass {
  background-image: url("../img/hip hop class.png");
} */

/* OVERLAY images */

/* #fword.event-photo  {
  background-image: url("../img/fword-overlay.png");
}
#letstalk.event-photo  {
  background-image: url("../img/letstalk-overlay.png");
}
#synbio101.event-photo {
  background-image: url("../img/synthbio-overlay.png");
}
#synbiopanel.event-photo  {
  background-image: url("../img/synbiopanel-overlay.jpg");
}
#fightlikeagirl.event-photo  {
  background-image: url("../img/fightlikeagirl-overlay.jpg");
}
#programworkshop.event-photo {
  background-image: url("../img/programworkshop-overlay.jpg");
} */

/* Mailchimp Styles */

#mc_embed_signup {
  clear: left;
  font-size: 1em;
  width: 100%;
}

.clear {
  display: inline-block;
}

input.email {
  height: 35px;
  border-radius: 20px 0 0 20px;
  padding: 0 30px;
}

.wrap-email {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.email {
  width: 300px;
  background: rgb(235, 234, 234);
  /* font-size: 15px; */
  /* line-height: 1.5; */
}

/* input.email { */
/* border: 2.2px solid white;
  background-color: transparent; */
/* height: 2.5em;
  width: 20em;
  padding: 1em; */
/* } */

/* .email {
  width: 20em;
  height: 2.5em; */
/* background: rgb(235, 234, 234);
  font-size: 15px;
  line-height: 1.5; */
/* background: rgb(235, 234, 234); */
/* font-size: 14.5px; */
/* padding: 10px; */
/* line-height: 1.5; */
/* } */

.email-button {
  background-color: white;
  color: #54bead;
  border-radius: 20px 20px 20px 20px;
  height: 2.6em;
  width: 10em;
  margin-left: -4px;
}

.email-button:hover {
  color: #f27678;
}

/* ::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
} */

.emailus {
  padding-bottom: 5em;
}

.emailus-form {
  width: 40%;
  margin: 0 auto;
}

/* input {
	outline: none;
	border: none;
} */

textarea {
  outline: none;
  border: none;
  resize: none;
}

textarea:focus {
  border-color: transparent !important;
}

input.input1 {
  height: 45px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: rgb(235, 234, 234);
  font-size: 15px;
  line-height: 1.5;
}

.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #54bead;
  font-size: 15px;
  line-height: 1.5;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: '\f06a';
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* responsiveness */

@media (max-width: 990px) {
  .landing {
    margin-top: 20%;
  }

  .landing-divider {
    width: 50%;
  }
  .whitespace {
    display: none;
  }

  .partnership-image {
    height: 450px;
  }

  .partnership-description {
    position: relative;
    font-size: 14px;
    color: #4a4a4a;
    padding: 0 16px;
    line-height: 2.5;
  }
}

@media (max-width: 860px) {
  .landing {
    margin-top: 25%;
  }

  .partnership-image {
    height: 400px;
  }
}

@media (max-width: 750px) {
  .landing {
    margin-top: 25%;
  }

  .partnership-image {
    background-image: none;
  }

  .partnership-description {
    bottom: auto;
  }
}
