.takeovers-page {
  background-color: #eeeeee;
  padding: 36px;
}

.takeoverp-fb,
.takeoverp-fb:active {
  padding: 0;
  margin: 0;
  color: #54bead;
  font-size: 16px;
  text-decoration: none;
}

.takeoverp-fb:hover,
.takeoverp-fb:focus {
  text-decoration: none;
  color: #f27678;
}